<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/site.css"/>
    </head>

    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>

        <nav>
            <ul>
                <li><a href="index.html">Projects</a></li>
                <li class="selected"><a href="collaborators.html">Collaborators</a></li>
                <li><a href="roles.html">Roles</a></li>
            </ul>
        </nav>

        <section>
            <div class="container wrapper">
                <form action="/collaborators/add" method="post">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">

                        <li th:each="c : ${collaborators}">
                            <span class="primary" th:text="${c.name}">Michael Pemulius</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#" selected="selected">Designer</option>
                                </select>
                            </div>
                        </li>

                    </ul>
                    <div class="actions add-new-collaborator" th:object="${collaborator}">
                        <input type="text" placeholder="Name..." th:field="*{name}"/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{role}">
                                <option value="#" disabled = "disabled" selected="selected">Role...</option>
                                <option th:each="r : ${roles}" th:value="${r}" th:text="${r.name}">Developer</option>
                            </select>
                        </div>
                        <button class="button" type="submit">Add</button>

                    </div>
                </form>
            </div>
        </section>
    </body>
</html>